.card-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  @include mq-above($mq-ipad) {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.card-list__item {
  padding-bottom: $s-padding;
  @include mq-above($mq-ipad) {
    width: 50%;
    padding: $s-padding;
  }
}

.card {
  background: $cc-lightgray;
  border-radius: .5em;
  border: 1px solid rgba($cc-black, .1);
  overflow: hidden;
}

.card__image {
  overflow: hidden;
  width: 100%;
  height: 12em;
  background-size: cover;
  background-position: center;
  position: relative;
}

.card__link-overlay {
  display: block;
  width: 100%;
  height: 100%;
  text-indent: -9999px;
}

.card__meta {
  display: block;
  background: $cc-black;
  color: rgba($cc-white, .33);
  text-align: center;
  padding: .25rem 0;
}

.card__info {
  padding: .5em;
}

.card__title {
  margin: 0;
  position: absolute;
  bottom: 0;
  left: 0;
  line-height: 1em;
  padding: $s-padding;
  padding-bottom: 0;
  background-image: linear-gradient(to top, $cc-black 0%, rgba($cc-black, 0) 100%);
  width: 100%;
  a {
    text-decoration: none;
  }
}

.card__excerpt {
  display: none;
  position: relative;
  overflow: hidden;
  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 4em;
    width: 100%;
    background-image: linear-gradient(to top, $cc-lightgray 5%, rgba(white, 0) 90%);
  }
  @include mq-above($mq-ip6) {
    display: block;
    height: 6em;
  }
}

.card__sub {
  display: flex;
  justify-content: space-between;
  @include mq-above($mq-ip6) {
    margin-top: .75rem;
  }
}

.card__link {
  display: none;
  text-decoration: none;
  &::after {
    content: ' \00bb';
  }
  @include mq-above($mq-ip5) {
    display: inline-block;
  }
}

.card__comments {
  display: flex;
  opacity: .5;
  svg {
    margin-right: .25rem;
  }
}
