.event-item {
  @extend .card;
  display: flex;
  @include mq-above($mq-ip6p) {
    height: 9em;
  }
}

.event-item__date {
  text-align: center;
  background: #fff;
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.event-item__day {
  color: $cc-carnation;
  font-size: 3em;
  font-weight: bold;
  padding: 0 .5rem;
  margin: 0;
}

.event-item__month {
  margin: -.4em 0 0 0;
}

.event-item__info {
  padding: $s-padding;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.event-item__summary {
  margin: 0;
}

.event-item__time {
  margin: 0;
}
