.header {
}

body {
  padding-bottom: 3rem;
}

.header__nav {
  user-select: none;
  z-index: $z-super;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: $c-nav-background;
  @include transition(background-color)
  @include mq-above($mq-ipad) {
    position: static;
  }
  ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
  }
  li {
    padding: .3rem 0;
    flex: 1;
    text-align: center;
    a {
      text-decoration: none;
      display: block;
      @include transition(color);
      color: rgba($c-nav-foreground, 5);
    }
    path, polygon {
      @include transition(fill);
      fill: $c-nav-foreground;
    }
    img {
      display: inline-block;
    }
    span {
      font-size: .65em;
      display: block;
      @include mq-above($mq-ipad) {
        font-size: .8em;
      }
    }
    svg {
      @include transition(transform);
      @include mq-above($mq-ipad) {
        width: 32px;
        height: 32px;
      }
    }
    &.active {
      background-color: $c-nav-background-active;
      a {
        color: $c-nav-foreground-active;
      }
      path, polygon {
        fill: $c-nav-foreground-active;
      }
      svg {
        transform: scale(1.2);
      }
    }
  }
}
