.hero {
  position: relative;
}

.hero__background-container {
  height: 150px;
  position: relative;
  overflow: hidden;
  @include mq-above($mq-ip5) {
    height: 200px;
  }
  @include mq-above($mq-ip6) {
    height: 250px;
  }
  @include mq-above($mq-ip6p) {
    height: 320px;
  }
  @include mq-above($mq-sdesk) {
    height: 400px;
  }
  @include mq-above($mq-mdesk) {
    height: 500px;
  }
}

.hero__background {
  background-image: url("../assets/img.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: -10%;
  left: -10%;
  width: 120%;
  height: 120%;
}

.hero__background--blurred {
  filter: blur(10px);
  opacity: 0;
}

.hero__logo {
  position: absolute;
  bottom: 0%;
  left: 50%;
  transform: translate(-50%, 50%);
  svg {
    margin: 0 auto;
    display: block;
    width: 96px;
    height: 96px;
    @include mq-above($mq-ip5) {
      width: 128px;
      height: 128px;
    }
    @include mq-above($mq-ip6) {
      width: 160px;
      height: 160px;
    }
    @include mq-above($mq-ip6p) {
      width: 256px;
      height: 256px;
    }
  }
}
