$menuItemHeight: 5rem;

.menu-item {
  @extend .card;
  display: flex;
  position: relative;
  height: 5rem;
  margin: #{$s-padding / 2} 0;
  @include mq-above($mq-ip6p) {
    margin: $s-padding / 2;
  }
}

.menu-item__image {
  width: $menuItemHeight;
  height: $menuItemHeight;
  background-size: cover;
  background-position: center;
}

.menu-item__info {
  flex: 1;
  padding: $s-padding / 2;
}

.menu-item__title {
  font-size: 1em;
  margin: 0;
}

.menu-item__category {
  font-size: .75em;
  margin: 0;
}

.menu-item__description {
  font-size: .75em;
  p {
    margin: 0;
  }
}
