.page-header {
  overflow: auto;
  margin-bottom: 1rem;
  h1 {
    font-size: 2.5em;
    // padding: 5rem 0;
    margin: 0;
    background-image: radial-gradient(50% 50% at center, rgba($cc-black, 0.4), rgba($cc-black, 0) 90%);
    text-align: center;
    padding: 2rem 0;
    @include mq-above($mq-ip6) {
      padding: 3.33rem 0;
    }
    @include mq-above($mq-ip6p) {
      padding: 4rem 0;
      font-size: 3em;
    }
  }

  // GEOMETRIC FRUIT
  &--variant-1 {
    color: $cc-white;
    background-image: url(../assets/patterns/geometric_fruits.png);
    background-size: 300px;
    @include mq-above($mq-ip6p) {
      background-size: 384px;
    }
  }

  // FLAMINGO
  &--variant-2 {
    color: $cc-white;
    background-image: url(../assets/patterns/flamingo.png);
    background-size: 350px;
    @include mq-above($mq-ip6p) {
    }
  }

  // CHRISTMAS
  &--variant-3 {
    color: $cc-white;
    background-image: url(../assets/patterns/christmas.png);
    background-size: 150px;
    @include mq-above($mq-ip6p) {
      background-size: 200px;
    }
  }

}
