.spotifyahead {
  width: 80%;
  margin: 0 auto;
  position: relative;
}

.spotifyahead__icon,
.spotifyahead__clear {
  position: absolute;
  top: 50%;
  transform: translate(0, -40%);
  path {
    fill: $cc-black;
  }
}

.spotifyahead__icon {
  left: .3em;
}

.spotifyahead__clear {
  appearance: none;
  background: none;
  border: none;
  outline: none;
  right: .3em;
}

.spotifyahead__input {
  appearance: none;
  border: 0;
  background: $cc-gray;
  color: $cc-black;
  padding: .3em 2em .3em 2em;
  width: 100%;
  display: block;
  outline: none;
  border-radius: 100em;
}

.spotifyahead__popup {
  z-index: 1000;
  max-height: 400px;
  overflow: scroll;
  position: absolute;
  background: #eee;
  border-radius: .5em;
  width: 120%;
  left: -10%;
  top: 35px;
  box-shadow: 0 0 10px rgba($cc-black, .5);
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
}

.spotifyahead__popup-item {
  padding: .5em .75em;
  display: flex;
  align-items: center;
  position: relative;
  &.active {
  }

  h4,
  h5 {
    margin: 0;
  }
  &::after {
    content: "";
    display: block;
    width: 80%;
    position: absolute;
    bottom: 0;
    left: 10%;
    height: 1px;
    background: $cc-black;
    opacity: .1;
  }
}

.spotifyahead__popup-item-art {
  margin-right: .5em;
  img {
    width: 2.5em;
    border-radius: .25em;
  }
}

.spotifyahead__popup-item-info {
  strong {
    color: darken($cc-carnation, 30%);
  }
  h5 {
    font-weight: 400;
  }
}
