<div class="header">
  <nav class="header__nav">
    <ul>
      <li ui-sref-active="active"><a ui-sref="home">
        <barium-icon icon="home"></barium-icon>
        <span>Home</span>
      </a></li>
      <li ui-sref-active="active"><a ui-sref="news">
        <barium-icon icon="news"></barium-icon>
        <span>News</span>
      </a></li>
      <li ui-sref-active="active"><a ui-sref="calendar">
        <barium-icon icon="calendar"></barium-icon>
        <span>Calendar</span>
      </a></li>
      <li ui-sref-active="active"><a ui-sref="menu">
        <barium-icon icon="menu"></barium-icon>
        <span>Menu</span>
      </a></li>
      <li ui-sref-active="active"><a ui-sref="music">
        <barium-icon icon="music"></barium-icon>
        <span>Music</span>
      </a></li>
    </ul>
  </nav>
</div>
