<div class="card">
  <div ng-if="!noImage" class="card__image" ng-style="{ 'background-image': 'url(' + item.acf.image.sizes.large + ')' }">
    <h2 class="card__title"><a ui-sref="post({ postId: item.id })" ng-bind-html="item.title.rendered | trustAs"></a></h2>
    <a ui-sref="post({ postId: item.id })" class="card__link-overlay">Read more...</a>
  </div>
  <small class="card__meta">Posted <span ng-bind="prettyDate(item.date)"></span></small>
  <div class="card__info">

    <div class="card__excerpt" ng-bind-html="item.excerpt.rendered | removeLinks | trustAs">
    </div>

    <div class="card__sub">
      <a class="card__link" ui-sref="post({ postId: item.id })">Read more</a>
      <div class="card__comments">
        <barium-icon icon="comment"></barium-icon>
        <span ng-bind="random"></span>
      </div>

  </div>
</div>
