<div class="menu-item">
  <div class="menu-item__image" ng-style="{ 'background-image': 'url(' + item.acf.product_shot.sizes.thumbnail + ')' }"></div>
  <div class="menu-item__info">
    <h2 class="menu-item__title"><span ng-bind-html="item.title.rendered | trustAs"></span> – <span ng-bind="item.acf.price"></span>,-</h2>
    <p class="menu-item__category" ng-bind="item.acf.category"></p>
    <div class="menu-item__description" ng-bind-html="item.content.rendered | trustAs"></div>
  </div>
</div>
