<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>KEA Fredagsbar</title>
  <script src="https://use.typekit.net/pou6seb.js"></script>
  <script>try{Typekit.load({ async: true });}catch(e){}</script>

  <!-- web app meta stuff -->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="format-detection" content="telephone=no">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

  <link rel="apple-touch-icon" href="<%= require('./assets/icons/webapp/logo.png') %>">
  <link rel="apple-touch-startup-image" href="<%= require('./assets/images/splash.png') %>">

</head>
<body ios-detect>
  <div id="top"></div>
  <app></app>
</body>
</html>
