// only applies styling if above a certain width
// (this function is exclusive, meaning that if you
// for example supply 320px as the argument, the
// styling will only be applied IFF the viewport
// is ABOVE 320px
//
// RECOMMENDED FOR A MOBILE FIRST APPROACH
//
@mixin mq-above ($min-width: 500px) {
  @media screen and (min-width: #{$min-width + 1px}) {
    @content;
  }
}

// only applies styling to elements at or below
// a certain width. This function is inclusive.
//
// NOT RECOMMENDED – TRY A MOBILE FIRST APPROACH
//
@mixin mq-below ($max-width: 500px) {
  @media screen and (max-width: $max-width) {
    @content;
  }
}

@mixin transition ($property: all, $timing: $s-transition-time, $easing: $s-transition-easing) {
  transition: $property $timing $easing;
}

@mixin animateFade () {
  &.ng-enter {
    @include transition(opacity)
    opacity: 0;
  }
  &.ng-enter.ng-enter-active {
    opacity: 1;
  }
}
