// font stacks
$f-primary: "proxima-nova-soft", "Proxima Nova Soft", Helvetica, "Helvetica Neue", Arial, sans-serif;
$f-headings: "brandon-grotesque", "Brandon Grotesque", "Fat Frank", Helvetica, "Helvetica Neue", Arial, sans-serif;

// media queries
$mq-ip5: 320px; // iphone 5
$mq-ip6: 375px; // iphone 6
$mq-ip6p: 414px; // iphone 6+
$mq-ipad: 768px; // ipad
$mq-sdesk: 900px; // small dqesktop (1024x768) (3.9% market share)
$mq-mdesk: 1100px; // medium desktop (1366x768) (19.1% market share)
$mq-ldesk: 1200px; // large desktop (1920x1080) (9.4% market share)

// custom colors
$cc-white: #fefefe;
$cc-black: #23190f;
$cc-darkbrown: #5b342f;
$cc-carnation: #f55a46;
$cc-sandybrown: #f8996d;
$cc-lightpetrol: #64c2c1;
$cc-gray: #d9d0d1;
$cc-lightgray: #eee;
$cc-emerald: #40d47e;
// colors in use
$c-nav-background: $cc-black;
$c-nav-foreground: $cc-gray;
$c-nav-background-active: $cc-gray;
$c-nav-foreground-active: $cc-carnation;

$c-input-background: $cc-black;
$c-input-foreground: $cc-gray;

// standards
// $s-transition-easing: cubic-bezier(0.785, 0.135, 0.150, 0.860);
$s-transition-easing: cubic-bezier(0.68, -0.55, 0.265, 1.55);
$s-transition-time: .2s;
$s-padding: 1rem;
// z-index
$z-super: 1000;
