*,
*::before,
*::after {
  box-sizing: border-box;
}

// helper utilities
@import "vars";
@import "mixins";

// vendor libs
@import "normalize";

// generics
@import "base";

// components
@import "components/header";
@import "components/hero";
@import "components/spotifyahead";
@import "components/card";
@import "components/back";
@import "components/pageHeader";
@import "components/event";
@import "components/menuItem";

// pages
@import "pages/music";
@import "pages/home";
@import "pages/post";
@import "pages/calendar";
@import "pages/menu";

body {
  font-family: $f-primary;
  background: #fefefe;
  color: $cc-black;
}

h1, h2, h3 {
  font-family: $f-headings;
  text-transform: uppercase;
  font-weight: 800;
}

.container {
  padding: 0 $s-padding;
  @include mq-above($mq-ipad) {
    width: 730px;
    margin: 0 auto;
  }
  @include mq-above($mq-sdesk) {
    width: 900px;
  }
  @include mq-above($mq-mdesk) {
    width: 1050px;
  }
}
