<div class="event-item">
  <div class="event-item__date">
    <p class="event-item__day" ng-bind="event.start.dateTime | date: 'd'"></p>
    <p class="event-item__month" ng-bind="event.start.dateTime | date: 'MMM'"></p>
  </div>
  <div class="event-item__info">
    <h3 class="event-item__summary" ng-bind="event.summary"></h3>
    <p class="event-item__time">Starts at <span ng-bind="event.start.dateTime | date: 'h:mm a'"></span></p>
  </div>
</div>
