.calendar {

}

.calendar__events {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  @include mq-above($mq-ip6p) {
    flex-direction: row;

    li {
      width: 50%;
      padding: $s-padding / 2 !important;
    }
  }
  li {
    padding: ($s-padding / 2) 0;
    @include animateFade();
  }
}
