.home {
  .container {
    padding-top: 2em;
    @include mq-above($mq-ip5) {
      padding-top: 3em;
    }
    @include mq-above($mq-ip6) {
      padding-top: 4em;
    }
    @include mq-above($mq-ip6p) {
      padding-top: 7em;
    }
    @include mq-above($mq-ipad) {
      padding-top: 8em;
    }
  }
}

.home-tagline {
  font-size: 2em;
  line-height: 1em;
  @include mq-above($mq-ip5) {
  }
  @include mq-above($mq-ip6) {
    font-size: 2.5em;
  }
  @include mq-above($mq-ip6p) {
    span {
      display: block;
    }
    text-align: center;
  }
}
