.menu {
  position: relative;
  padding-top: 3rem;
}

.menu__nav {
  user-select: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  @include mq-above($mq-ipad) {
    bottom: 0;
    top: auto;
  }
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
  }

}

.menu__nav-item {
  flex: 1;
  button {
    font-size: .75em;
    cursor: pointer;
    padding: $s-padding 0;
    appearance: none;
    border: none;
    background-color: $cc-black;
    color: $cc-gray;
    width: 100%;
    outline: none;
    @include transition(background-color);
    span {
      display: block;
      @include transition(transform);
    }
  }
}

.menu__nav-item--active {
  button {
    background: $cc-gray;
    color: $cc-carnation;
    span {
      transform: scale(1.3);
    }
  }
}

.menu__items {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  @include animateFade()
  @include mq-above($mq-ip6p) {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.menu__items-item {
  @include animateFade();
  @include mq-above($mq-ip6p) {
    width: 50%;
  }
}
