.music {
}

.music__search {
  background: $cc-black;
  padding: .5em;
}

.music__result-card {
  background: #eee;
  border: 1px solid rgba($cc-black, .5);
  border-radius: .5em;
  overflow: hidden;
}

.music__result-card-art {
  img {
    width: 100%;
  }
}

.music__result-card-info {
  padding: 0 .5em;
  h2,
  h3 {
    font-family: $f-primary;
    text-transform: none;
  }
}

.music__result-submit {
  background: $cc-carnation;
  width: 100%;
  padding: .75em;
  border-radius: 100em;
  color: #fefefe;
  border: 0;
  margin-top: 1em;
  font-size: 1.5em;
  &[disabled] {
    opacity: .1;
  }
}

.music__introduction {
  opacity: .25;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20rem;
  padding: $s-padding;
  transform: translate(-50%, -50%);
}
