.post {

}

.post__header {
  position: relative;
  height: 150px;
  background-color: $cc-lightpetrol;
  background-position: center;
  background-size: cover;
  @include mq-above($mq-ip5) {
    height: 200px;
  }
  @include mq-above($mq-ip6) {
    height: 250px;
    font-size: 1.25em;
  }
  @include mq-above($mq-ip6p) {
    height: 320px;
    font-size: 1.5;
  }
  @include mq-above($mq-sdesk) {
    height: 400px;
    font-size: 2em;
  }
  @include mq-above($mq-mdesk) {
    height: 500px;
    font-size: 2.5em;
  }
}

.post__header-inner {
  background-image: linear-gradient(to top, $cc-black 5%, rgba($cc-black, 0) 90%);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  .container {
    padding: 0;
  }
}

.post__title {
  margin: 0;
  line-height: 1em;
  a {
    text-decoration: none;
  }
}

.post__meta {
  background: $cc-black;
  color: rgba($cc-white, .5);
  text-align: center;
  height: 2rem;
  line-height: 2rem;
}

.post__content {
  font-size: 1.25em;
}
