<div class="hero">
  <div class="hero__background-container">
    <div class="hero__background hero__background--original"></div>
    <div class="hero__background hero__background--blurred"></div>
  </div>
  <div class="hero__logo">
    <barium-icon icon="keaSquircle"></barium-icon>
  </div>
</div>
