<div class="calendar">
  <barium-page-header title="Calendar" variant="2"></barium-page-header>
  <div class="container">

    <ul class="calendar__events">
      <li ng-repeat="event in calendar.events">
        <barium-event event="event"></barium-event>
      </li>
    </ul>

  </div>

</div>
