<div class="home">
  <barium-hero></barium-hero>

  <!-- <div class="container">
    <ul>
      <li ng-repeat="item in home.frontpage">{{ item.title.rendered }}</li>
    </ul>
  </div> -->

  <div class="container">

    <h1 class="home-tagline">
      <span>For the Students,</span>
      <span>By the Students</span>
    </h1>

    <hr>

    <p class="home-nextevent">The next bar is on <span ng-bind="home.nextEvent.start.dateTime | prettyDate"></span></p>

    <barium-card ng-repeat="item in home.frontpage" item="item"></barium-card>

  </div>

  <barium-footer></barium-footer>
</div>
