<div class="menu">
  <nav class="menu__nav">
    <ul>
      <li class="menu__nav-item" ng-repeat="category in menu.categories" ng-class="{ 'menu__nav-item--active': menu.filterIsActive(category) }" >
        <button ng-click="menu.filterBy(category)"><span ng-bind="category"></span></button>
      </li>
    </ul>
  </nav>
  <div class="container">
    <!-- <pre ng-bind="menu|json"></pre> -->
    <ul class="menu__items">
      <li ng-repeat="item in menu.filter(menu.items)" class="menu__items-item">
        <barium-menu-item item="item"></barium-menu-item>
      </li>
    </ul>
  </div>
</div>
