<div class="music">

  <div class="music__search">
    <div class="spotifyahead">
      <form name="spotifyForm">
        <i class="spotifyahead__icon">
          <barium-icon icon="search"></barium-icon>
        </i>
        <input
          type="text"
          placeholder="Search for a track"
          class="spotifyahead__input"
          autocomplete="off"
          autocorrect="off"
          autocapitalize="off"

          name="spotifyInput"
          ng-model="music.asyncSelected"
          uib-typeahead="track.name for track in music.search($viewValue)"
          typeahead-loading="music.loadingLocations"
          typeahead-no-results="music.noResults"
          X-typeahead-template-url="typeaheadTemplate.html"
          typeahead-popup-template-url="typeaheadPopupTemplate.html"
          typeahead-on-select="music.onSelect($item)">

        <button
          class="spotifyahead__clear"
          ng-click="music.asyncSelected = ''"
          ng-if="spotifyForm.spotifyInput.$dirty && spotifyForm.spotifyInput.$viewValue.length">
          <barium-icon icon="crossCircle"></barium-icon>
        </button>

        <script type="text/ng-template" id="typeaheadPopupTemplate.html">
          <div class="spotifyahead__popup" ng-show="isOpen() && !moveInProgress">
            <ul>
              <li
                class="spotifyahead__popup-item"
                ng-repeat="match in matches track by $index"
                ng-class="{ active: isActive($index) }"
                ng-mouseenter="selectActive($index)"
                ng-click="selectMatch($index)">
                <div class="spotifyahead__popup-item-art">
                  <img ng-src="{{ match.model.album.images[2].url }}">
                </div>
                <div class="spotifyahead__popup-item-info">
                  <h4 ng-bind-html="match.model.name | uibTypeaheadHighlight: query"></h4>
                  <h5 ng-bind="match.model.artists[0].name"></h5>
                </div>
              </li>
            </ul>
          </div>
        </script>
      </form>
    </div>

  </div>

  <div class="container">

    <div class="music__result" ng-if="music.selection">
      <div class="music__result-card">
        <div class="music__result-card-art">
          <img ng-src="{{ music.selection.album.images[0].url }}">
        </div>
        <div class="music__result-card-info">
          <h2 ng-bind="music.selection.name"></h2>
          <h3><span ng-bind="music.selection.artists[0].name"></span> – <span ng-bind="music.selection.album.name"></span></h3>
        </div>
      </div>

      <button class="music__result-submit" ng-disabled="!music.canWish()" ng-click="music.wish(music.selection)">Send to our wishlist!</button>

      {{ music.canWish() | json }}
    </div>

    <div class="music__introduction" ng-if="!music.selection">
      <h3>Search for a track you wish us to play!</h3>
      <p>
        And press the Wish! button. The bar will receive your request, and we might just put it on!
      </p>        
    </div>

  </div>

</div>
