<div class="music-list">
  <h2>Music List</h2>
  <ul>
    <li ng-repeat="item in musicList.wishlist | orderBy: '-requests'" class="music-list__item">
      <button ng-click="musicList.removeItem(item.uri)" ngclass="music-list__remove-item"><svg src="../assets/icons/trash.svg"></svg></button>
      <h2 class="music-list__track" ng-bind="item.track"></h2>
      <h3 class="music-list__artist" ng-bind="item.artist"></h3>
      <h4 class="music-list__album" ng-bind="item.album"></h4>
      <p>Requested <span ng-bind="item.created | timeAgo"></span> by <span ng-bind="item.requests"></span> <span ng-if="item.requests !== 1">people</span><span ng-if="item.requests === 1">person</span></p>
    </li>
  </ul>
</div>
