<div class="post">

  <barium-back></barium-back>

  <div class="post__header" ng-style="{ 'background-image': 'url(' + post.acf.image.sizes.large + ')' }">
    <div class="post__header-inner">
      <div class="container">
        <h1 class="post__title"><a ui-sref="post({ postId: post.id })" ng-bind-html="post.title.rendered | trustAs"></a></h1>
      </div>
    </div>
  </div>

    <div class="post__meta">
      <div class="container">
        <small class="card__meta">Posted <span ng-bind="post.date | prettyDate"></span></small>
      </div>
    </div>

    <div class="post__content">
      <div class="container" ng-bind-html="post.content.rendered | trustAs"></div>
    </div>
    
  </div>
</div>
